/* container selectors */

.flex-container {
    display: flex;
    justify-content: center;
    align-content: center;
    /* align-items: flex-start; */
}

.flex-text { /*move this somewhere*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.flex-text > p {
    /* flex: 40%; */
    width: 48%;
}

.div-container {
    margin-bottom: -4px;
}

.img-div > img {
    width: 100%;
    /* min-width: 20rem; */
    height: auto;
    min-height: 30rem;
}

.text-div {
    flex-flow: column nowrap;
    height: auto;
    color: white;
}

.text-div > p {
    padding: 0px 3rem;
    text-align: justify;
}

.div-1 {
    position: relative;
}

.div-1-flex {
    position: absolute;
    bottom: 10%;
    width: 100%;
    /* min-height: 10rem; */
    /* max-height: 28rem; */
}

.div-1-text-box {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 70%;
    padding: 1.83rem 1rem;
    text-align: center;
    flex-flow: column wrap;
}

.div-2 {
    background-color: rgb(178, 96, 39);
    padding: 5%;
    width: 90%;
}

/* .div-2 > h2 {
    text-align: center;
} */

.div-4 {
    background-color: rgb(230, 155, 36);
    padding: 5%;
}

/* .div-4 > p {
    flex: 30%;
    width: 20%;
} */

/* div 1 button selectors */

.btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: .2em;
}

.btn-div {
    border: 0;
    width: 45%;
    margin: auto;
}

.btn-div:hover {
    border: 0;
}

.btn-div-flex {
    flex-flow: row wrap;
    width: 100%;
}

/* text selectors */

h2 {
    margin-block-start: 0em;
    text-align: center;
}