@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poiret&family=Pacifico&display=swap");

.password {
  border-radius: 80px;
  width: 250px;
  padding: 2px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  background: #ffffff;
}

.text {
  border: 0px;
  width: 130px;
  padding: 10px;
  border-radius: 10px;

  background-color: #ffffff;
}

.text:focus {
  outline: 0px;
}

.form-field {
  display: flex;
}

label {
  margin-right: 5px;
}

.eye {
  margin-left: 50px;
}
